doctype html
html(data-ng-app="NoerdDk", lang="da")
	head
		title Nörd
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		// Main app js
		//script(src='./scripts/noerddk_head.js')
		//script(src='/assets/scripts/libs/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js')
		block head
		// Fonts
		//link(type="text/css", rel='stylesheet', href='http://fast.fonts.com/cssapi/ba002805-f090-46ee-884b-859604968980.css')
		link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400')

	body
		block glovalVars
		block body
		section.noerd(data-ng-controller="NoerdCtrl as noerd")
			header.container.container--header(data-ng-class="{'container--hide': noerd.states.hideHeader}")
				div.container__content
					div.container__inner
						div.grid.grid--12
							a(href="/", title="Nörd forside")
								img(src="./images/content/logo.png", alt="nörd")
						div.grid.grid--12
							nav.inlinelist.noerd__menu
								a(href="#").inlinelist__item.query--desktop.query--narrowdesktop Arbejdet
								a(href="#").inlinelist__item.query--desktop.query--narrowdesktop Om os
								a(href="#").inlinelist__item.query--desktop.query--narrowdesktop Services
								a(href="#").inlinelist__item.query--desktop.query--narrowdesktop Nörderier
								a(href="#").inlinelist__item.query--desktop.query--narrowdesktop Kontakt
								a(href="#", data-ng-click="noerd.toogleAsideMenu()").inlinelist__item.query--desktop.query--narrowdesktop TEST
								a.inlinelist__item.querynot--desktop.querynot--narrowdesktop Menu
									span.icon--alignJustify
				//div.container__aside(data-ng-class="{'container__aside--show': noerd.states.showAsidemenu}")
					div.asidemenu asidemenu

			aside.container.container--aside(data-ng-class="{'container--show': noerd.states.showAsidemenu}")
				div.asidemenu asidemenu

			div.container.container--list
				block content

		script(src="/assets/scripts/app.js")
		script(src="/assets/scripts/controllers/noerd.controller.js")
		//script(src="/assets/scripts/controllers/header.controller.js")
		//script(src='./scripts/noerddk.js')