doctype html
html(data-ng-app="noerdDk", lang="da")
	head
		title Nörd
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		// Main app js
		//script(src='./scripts/noerddk_head.js')
		block head
		// Fonts
		//link(type="text/css", rel='stylesheet', href='http://fast.fonts.com/cssapi/ba002805-f090-46ee-884b-859604968980.css')
		link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400')

	body
		block glovalVars
		block body
		section.noerd(data-ng-controller="NoerdCtrl")
			header.container.container--header
				div.container__content
					div.container__inner
						div.grid.grid--12
							a(href="/", title="Nörd forside")
								img(src="/images/content/logo.png", alt="nörd")
						div.grid.grid--12
							nav.inlinelist.noerd__menu
								a(href="#").inlinelist__item.query--desktop Arbejdet
								a(href="#").inlinelist__item.query--desktop Om os
								a(href="#").inlinelist__item.query--desktop Services
								a(href="#").inlinelist__item.query--desktop Nörderier
								a(href="#").inlinelist__item.query--desktop Kontakt
								a.inlinelist__item.querynot--desktop Menu
									span.icon--alignJustify


			div.container.container--list
				block content


		//script(src='./scripts/noerddk.js')