doctype html
html(data-ng-app="noerdDk", lang="da")
	head
		title Nörd
		meta(charset="UTF-8")
		//meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/main.css')
		// Main app js
		//script(src='./scripts/noerddk_head.js')
		block head
		// Fonts
		//link(type="text/css", rel='stylesheet', href='http://fast.fonts.com/cssapi/ba002805-f090-46ee-884b-859604968980.css')
		link(type="text/css", rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,700,400')

	body
		block glovalVars
		block body
		section.noerd(data-ng-controller="NoerdCtrl")
			header.container.container--header
				div.container__content
					div.container__inner
						div.grid.grid--12 Logo
						div.grid.grid--12
							div.inlinelist
								div.inlinelist__item 1
								div.inlinelist__item 2
								div.inlinelist__item 3
								div.inlinelist__item 4

			div.container.container--list
				block content


		//script(src='./scripts/noerddk.js')