
/* Global Variables */

// Options booleans
$useAdaptive: true !global; // Media Querie mixin will skip if this ain't true
$debug: true !global; // Show debug features
$showClasses: false !global; // Show debug features
$allowCrossAlter: false !global; // Allow modules to alter each other // DEPRECATED --> Replaced by new blockconstructor extendmode function


// Colors
$color_white: #fff;
$color_black: #000;
$color_textblack: #000;
$color_textwhite: #fff;

$color_coal: #313131;
$color_heart: #ef4b54;
$color_darkheart: #eb3e42;
$color_grey: #777777;
$color_lightgrey: #b3b3b3;
$color_lightergrey: #ebebeb;
$color_almostwhite: #f9f9f9;
$color_babyblue: #59a9cc;
$color_cyanblue: #127495;


// Media Queries, Labels and Content widths
$contentWidth: "" !global;
$mediaQueries: mobile 1px 619px, tablet 620px 1288px, desktop 1289px;
$mediaQueriesContentWidths: mobile 100%, tablet 560px, desktop 1248px;
$mediaQueriesDefault: mobile;

@mixin resetContentWidth() {
	@for $i from 1 through length($mediaQueriesContentWidths) {
		$__list: nth($mediaQueriesContentWidths, $i);
		$__name: nth($__list, 1);
		$__width: nth($__list, 2);
		@if $__name == $mediaQueriesDefault {
			$contentWidth: $__width !global;
		}
	}
}
@include resetContentWidth();



// Themes
// Colorsets - Supports up to 5 colors each
// ({label} {color1} {color2} {color3} {color4} {color5})
//@include newColor(boxc $midnightBlue $orange $steelBlue transparent $lime);





// variable-exists($name) checks if a variable resolves in the current scope.
// global-variable-exists($name) checks if a global variable of the given name exists.



