
// PARAMETERS



// BLOCK

.btn {
	width: auto;
	border: none;
	border: 1px solid darken($color_coal, 10%);
	color: $color_black;
	background-color: $color_white;
	padding: 26px 23px;
	outline: none;
	text-transform: uppercase;
	display: block;
	float: left;
	margin: 0;
	cursor: pointer;
	font-weight: 700;
	text-rendering: optimizelegibility;
	& + & {
		margin-left: 5px;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.btn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//




//--- MODIFIERS -----------------------------------------------------//