

// PARAMETERS

// BLOCK
.card {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
}

.card,
.card__image,
.card__body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.card__image {
	width: 100%;
	& > img {
		display: block;
		width: 100%;
		margin: 0;
	}
	& > a {
		display: block;
		text-decoration: none;
		& > img {
			display: block;
			width: 100%;
			margin: 0;
			outline: 0;
			border: 0;
		}
	}
}

.card__body {
	width: 100%;
	clear: both;
}

//--- MODIFIERS -------------------------------------------------------//

.card--link {
	cursor: pointer;
	border: 1px solid transparent;
	&:hover {
		background-color: $color_almostwhite;
		border: 1px solid $color_lightergrey;
	}
}