

// PARAMETERS
$__gutterWidth: 20px;
$__fitScreenMinHeight: 400px;
$__headerHeight: 100px;
$__headerHeight--mobile: 70px;

// BLOCK
.container {
    width: 100%;
	padding-right: $__gutterWidth;
	padding-left: $__gutterWidth;
	position: relative;
    @include onlyInDebug() {
		background-color: bisque;
		border-bottom: 1px solid darken(goldenrod, 10%);
	}
    &:after {
		content: "";
		display: block;
		clear: both;
	}
}

.container,
.container__inner,
.container__content,
.container__bg,
.container__header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

// ELEMENTS

.container__inner {
    position: relative;
	width: 100%;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	@include onlyInDebug() {
		background-color: gold;
	}
}

.container__content { 
    width: $contentWidth;
	margin: 0 auto;
    @include mediaQueries(tablet){
		width: $contentWidth;
	};
	@include mediaQueries(desktop){
		width: $contentWidth;
	};
	@include mediaQueries(mobile){
		//width: $contentWidth;
	};
	@include onlyInDebug() {
		background-color: goldenrod;
	}
}

.container__bg {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	//height: 100%;
	& > a {
		display: block;
		text-decoration: none;
		& > img {
			display: block;
			margin: 0;
			border: none;
			outline: none;
		}
	}
	& > img {
		display: block;
		margin: 0;
		border: none;
		outline: none;
	}
}

.container__header {
	display: block;
	height: $__headerHeight--mobile;
	@include mediaQueries(desktop tablet) {
		height: $__headerHeight;
	}
	@include onlyInDebug(){
		background-color: lighten(goldenrod, 5%);
	}
	//& ~ .container__content,
	& ~ .container__bg {
		top: $__headerHeight--mobile;
		@include mediaQueries(desktop tablet) {
			top: $__headerHeight;
		}
	}
}

// MODIFIERS

.container--fitscreen {
	height: 100%;
	min-height: $__fitScreenMinHeight;
	//padding-left: 0;
	//padding-right: 0;
}

.container__content--full {
    width: 100%;
}

.container--header {
	top: 0;
	left: 0;
	z-index: 60;
	height: $__headerHeight;
	position: fixed;
	position: absolute; // <-- OUTCOMMIT THIS FOR FIXED HEADER
	& + .container--list {
		padding-top: $__headerHeight;
		padding-top: 0; // <-- OUTCOMMIT THIS FOR FIXED HEADER
		& > .container:first-child {
			padding-top: $__headerHeight; // <-- OUTCOMMIT THIS FOR FIXED HEADER
		}
	}
}

.container--list {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}