
$__blockName: 'inlinelist';


.inlinelist {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.inlinelist {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//

.inlinelist__item {
	display: block;
	padding: 0;
	float: left;
	& + & {
		margin-left: 20px;
	}
}


//--- Modifiers -----------------------------------------------------//

.inlinelist--aligntop {
	display: block;
}

.inlinelist--aligncenter {
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.inlinelist--tabletbreak {
	@include mediaQueries(tablet){
		//display: block;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.inlinelist__item {
			clear: both;
			//width: 100%;
			margin-left: 0px;
			margin-top: 10px;
		}
	}
}

.inlinelist--mobilebreak {
	@include mediaQueries(mobile){
		//display: block;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.inlinelist__item {
			clear: both;
			//width: 100%;
			margin-left: 0;
			margin-top: 10px;
		}
	}
}

