
// PARAMETERS



// BLOCK

.noerd {
	display: block;
    width: 100%;
	height: 100%;
	font-family: 'Open Sans';
}

.noerd {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS -----------------------------------------------------//




//--- Modifiers -----------------------------------------------------//