
$_wrapperWidth: 1024px;
$_wrapperHeight: 671px;
$_wrapperHeaderHeight: 50px;
$_wrapperSubHeaderHeight: 65px;
$_wrapperTabHeight: 190px;
$_wrapperBodyFooterHeight: 52px;
$_wrapperSubContentExtraPadding: 22px;

.wrapper {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	overflow: hidden;
	min-width: $_wrapperWidth;
	min-height: $_wrapperHeight;
	//background-color: $color_black;
	//background-color: $color_almostwhite;
	background-color: $color_grey;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; // For some Android devices
	&:after {
		@include box-shadow(0px 10px 40px 0px rgba($color_black, 0.5));
		content: "";
		display: block;
		width: $_wrapperWidth;
		height: $_wrapperHeight;
		margin: auto;
		overflow: hidden;
		position: relative;
		background-color: $color_white;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 0;
		margin-top: -($_wrapperHeight / 2);
		margin-left: -($_wrapperWidth / 2);
	}
}

/*
body {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}
*/

.wrapper,
.wrapper__header,
.wrapper__box,
.wrapper__warning,
.wrapper__body,
.wrapper__bodyheader,
.wrapper__bodyfooter,
.wrapper__bodytabhead,
.wrapper__close,
.wrapper__slide,
.wrapper__content,
.wrapper__logo,
.wrapper__nav,
.wrapper__navitem,
.wrapper__intro,
.wrapper__orientation,
.wrapper__sendwishlist,
.wrapper__mobile,
.wrapper__cookieteaser,
.wrapper__cookieteasercontent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wrapper__box {
	display: block;
	width: $_wrapperWidth;
	height: $_wrapperHeight;
	margin: auto;
	overflow: hidden;
	position: relative;
	background-color: $color_white;

	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -($_wrapperHeight / 2);
	margin-left: -($_wrapperWidth / 2);
	z-index: 1;
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid $color_sun;
		z-index: -1;
		display: none;
	}
}

.wrapper__warning {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.wrapper__header {
	@include gradient($color_almostwhite, $color_white, $color_almostwhite);
	@include box-shadow(3px 0px 16px rgba($color_black, 0.1));
	width: 100%;
	height: $_wrapperHeaderHeight;
	background-color: $color_white;
	border-bottom: 1px solid $color_grey;
	z-index: 60;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	text-rendering: optimizelegibility;
}

.wrapper__body {
	width: 100%;
	height: ($_wrapperHeight - $_wrapperHeaderHeight);
	//padding: 8px;
	//overflow: hidden;
	position: relative;
}

.wrapper__slide {
	@include transition(transform 300ms ease);
	@include translate(0%, -100%);
	position: absolute;
	top: $_wrapperHeaderHeight;
	left: 0;
	z-index: 10;
	background-color: $color_lightgrey;

	overflow: hidden;

	/*
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	*/

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	.wrapper__content {
		padding: (8px) (8px + $_wrapperSubContentExtraPadding);
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
	}
}

.wrapper__slide--show {
	@include translate(0%, 0%);
	z-index: 50;
	.wrapper__bodyheader {
		@include translate(0%, 0%);
	}
	.wrapper__bodyfooter {

	}
}

.wrapper__slide--cookie {
	opacity: 0.95;
}

.wrapper__bodyheader {
	//@include transition(transform 300ms ease);
	@include transition(all 300ms ease);
	//@include translate(0%, -100%);
	@include fontSize(theta);
	position: fixed;
	//top: 0;
	//left: 0;
	//width: 100%;
	//width: $_wrapperWidth;
	width: $_wrapperWidth - 20px;
	top: 50%;
	margin-top: -(($_wrapperHeight/2) - $_wrapperHeaderHeight);

	max-height: 0;
	overflow: hidden;

	background-color: rgba($color_lightgrey, 0.86);
	z-index: 55;
	padding: (0px) (8px + $_wrapperSubContentExtraPadding); // Top and bottom is moved to --show modifier
	//padding: (8px) (8px + $_wrapperSubContentExtraPadding);
	height: $_wrapperSubHeaderHeight;
	border-bottom: 1px solid $color_grey;
	text-transform: uppercase;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;

	/*
	& ~ .wrapper__content {
		padding-top: $_wrapperSubHeaderHeight;
	}
	& + .wrapper__content--showtab {
		&:before {
			top: $_wrapperSubHeaderHeight;
		}
	}
	*/

	& + .wrapper__body,
	& + .wrapper__bodyfooter + .wrapper__body,
	& + .wrapper__bodyfooter + .wrapper__bodyfooter + .wrapper__body {
		.wrapper__content {
			padding-top: $_wrapperSubHeaderHeight;
		}
		.wrapper__content--showtab {
			&:before {
				top: $_wrapperSubHeaderHeight;
			}
		}
	}
}

.wrapper__bodyfooter {
	//@include transition(max-height 300ms ease);
	@include transition(all 300ms ease);
	//@include translate(0%, 0%);
	position: fixed;
	//bottom: 0;
	//left: 0;
	//width: 100%;
	bottom: 50%;
	margin-bottom: -($_wrapperHeight/2);

	width: $_wrapperWidth;

	height: $_wrapperBodyFooterHeight;
	max-height: 0px;
	padding: (0px) (8px + $_wrapperSubContentExtraPadding); // Top and bottom is moved to --show modifier
	//padding: (8px) (8px + $_wrapperSubContentExtraPadding);
	z-index: 55;
	border-top: 1px solid $color_grey;
	background-color: rgba($color_white, 0.95);
	text-align: center;
	overflow: hidden;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	/*
	& + .wrapper__content,
	& ~ .wrapper__content {
		padding-bottom: $_wrapperBodyFooterHeight;
	}
	*/
	// New after wrapper__bodyfooter was moved out of wrapper__body
	& + .wrapper__body,
	& + .wrapper__bodyheader + .wrapper__body {
		.wrapper__content {
			padding-bottom: $_wrapperBodyFooterHeight;
		}
	}
}

.wrapper__bodytabhead {
	height: $_wrapperTabHeight;
	width: 100%;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $color_white;
	margin-bottom: 20px;
}

.wrapper__close {
	@include fontSize(epsilon, 0);
	@include scale(1);
	display: block;
	float: right;
	background-image: url('../images/close.png');
	background-repeat: no-repeat;
	background-position: right center;
	min-height: image-height('../images/close.png');
	line-height: image-height('../images/close.png');
	min-width: image-width('../images/close.png');
	cursor: pointer;
	padding-right: (image-width('../images/close.png') + 7px);
	&:hover {
		@include scale(1.05);
	}
	&:active {
		@include scale(1);
	}
}


.wrapper__content {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	//overflow: auto;
	overflow: hidden;
	//padding: 0px $_wrapperSubContentExtraPadding;
	padding: 8px;
}

.wrapper__content--showtab {
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: $_wrapperTabHeight;
		width: 100%;
		background-color: $color_white;
		border-bottom: 1px solid $color_grey;
	}
}

.wrapper__logo {
	display: block;
	float: left;
	height: 100%;
	padding: 8px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.wrapper__nav {
	display: block;
	height: 100%;
	float: right;
}

.wrapper__navitem {
	@include fontSize(jimmi);
	display: block;
	height: 100%;
	height: 100%;
	padding: 15px;
	line-height: 100%;
	float: left;
	position: relative;
	color: $color_black;
	border-left: 1px solid $color_grey;
	cursor: pointer;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	&:before {
		content: "";
		display: none;
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		right: 0;
		height: 1px;
		background-color: lighten($color_coal, 20%);
	}
	&:hover {
		@include gradient($color_white, $color_almostwhite, $color_white);
	}
	&:active {
		@include gradient($color_almostwhite, $color_white, $color_almostwhite);
	}
}

.wrapper__navicon {
	@include fontSize(gamma, 0);
	padding: 10px;
	color: $color_sun;
}

.wrapper__intro {
	@include transition(transform 300ms ease);
	@include translate(0%, 0%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: block;
	//background-color: $color_almostwhite;
	background-color: $color_white;
	background-position: center center;
	background-repeat: no-repeat;
	//background-image: url('../images/startscreen.png');
	background-image: url('../images/intro/intro.jpg');
	//background-size: cover;
	z-index: 99;

	@media all and (orientation:portrait) {
		//background-image: url('../images/intro/intro_portrait.jpg');
	}
}

.wrapper__orientation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
	background-color: $color_grey;
	//background-image: url('../images/portrait.jpg');
	background-image: url('../images/forside-fallback-vertikal.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

.wrapper__mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	padding: 20px;
	display: none;
	background-color: $color_almostwhite;
	background-position: center center;
	background-repeat: no-repeat;

	text-align: center;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

}

.wrapper__cookieteaser {
	@include translate(0%, -100%);
	@include gradient($color_white, $color_white, darken($color_white, 5%));
	@include box-shadow(1px 1px 10px $color_smoke);
	@include fontSize(gamma, 1.3);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $color_white;
	color: $color_smoke;
	z-index: 80;

	a {
		cursor: pointer;
		@include hoverActiveStates($color_smoke, 'color', 20%);
	}
}

.wrapper__cookieteasercontent {
	width: ($_wrapperWidth * 0.8);
	margin: 0 auto;
	background-image: url('../images/cookie/cookie.png');
	min-height: image-height('../images/cookie/cookie.png');
	background-repeat: no-repeat;
	background-position: left 40%;
	padding: 15px 10px;
	padding-left: 70px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


.wrapper__sendwishlist {
	@include fontSize(jimmi);
	display: block;
	text-transform: uppercase;
	background-image: url('../images/up.png');
	background-position: left center;
	background-repeat: no-repeat;
	min-height: image-height('../images/up.png');
	padding-left: image-width('../images/up.png') + 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;

	display: inline-block;

	/*
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	*/

}




// States

.wrapper__navitem--black {
	background-color: $color_coal;
	color: $color_white;
	border-left-width: 0px;
	&:before {
		display: block;
	}
	.wrapper__navicon {
		color: $color_white;
	}
	&:hover {
		background: lighten($color_coal, 15%);
	}
	&:active {
		background: $color_coal;
	}
	&.wrapper__navitem--active {
		&,
		&:hover,
		&:active {
			background: lighten($color_coal, 15%);
		}
	}
}

.wrapper__navitem--active {
	&,
	&:hover,
	&:active {
		@include gradient($color_white, $color_almostwhite, $color_white);
	}
}

.wrapper__orientation--show {
	display: block;
}

.wrapper__mobile--show {
	//display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.wrapper__bodyheader--hide {

}

.wrapper__bodyheader--show {
	padding-top: 8px;
	padding-bottom: 8px;
	max-height: $_wrapperSubHeaderHeight;
}

.wrapper__bodyfooter--dynamic {
	height: auto;
	display: block;
}

.wrapper__bodyfooter--hide {
	//@include translate(0%, 100%); // Bug where it stays on top of slides. So no mouse event gets through
	//display: none;
	max-height: 0;
	&.wrapper__bodyfooter--dynamic {
		max-height: 0;
	}
}

.wrapper__bodyfooter--show {
	//@include translate(0%, 0%);
	max-height: $_wrapperBodyFooterHeight;
	padding-top: 8px;
	padding-bottom: 8px;
	&.wrapper__bodyfooter--dynamic {
		max-height: 300px;
	}
}

.wrapper--mobile {
	// Hide box-shadow
	&:after {
		display: none;
	}
	// Reset bodyheader to full size, no need to take acount for scrollbar width
	.wrapper__bodyheader {
		width: $_wrapperWidth;
	}
}

.wrapper--tablet {
	// Hide box-shadow
	&:after {
		display: none;
	}
	// Reset bodyheader to full size, no need to take acount for scrollbar width
	.wrapper__bodyheader {
		width: $_wrapperWidth;
	}
}

.wrapper__cookieteaser--show {
	@include translate(0%, 0%);
}

.wrapper__intro--hide {
	@include translate(0%, -100%);
}

.wrapper__sendwishlist--close {
	background-image: url('../images/down.png');
	min-height: image-height('../images/down.png');
	padding-left: image-width('../images/down.png') + 6px;
}