extends ../master

block append head

block append body

block append content

	section.container.container--fitscreen
		//div.container__header Header
		div.container__bg(style="background-image:url('./images/graphic/slide_heart.jpg')")
		div.splash
			div.splash__box
				//div.fontsize--iota.lineheight--kappa Vi er et full service digitalt bureau
				//div.fontsize--gamma Med kærlghed til mennesker og maskiner
				div.splash__bigline Vi er et full service digitalt bureau
				div.splash__smallline Med kærlghed til mennesker og maskiner
		div.container__content
			div.container__inner
		div.attachment SCROLL NED


	//section.container.container--fitscreen
		//div.container__header Header2
		div.container__bg(style="background-image:url('http://placehold.it/1200x700')")
		div.container__content
			div.container__inner
				div intro2

	section.container.container--partial.container--almostwhite
		div.container__content
			div.container__inner
				h1.container__headline.container__headline--closer Seneste arbejde

		div(style="width:100%;height:500px;")
			div.slides(data-slides="3", data-slides-autoplay="false")
				div.slides__list
					div.slides__slide 1
					div.slides__slide 2
					div.slides__slide 3
				div.slides__arrow
				div.slides__arrow.slides__arrow--right
				div.slides__map
					div.slides__mapitem 1
					div.slides__mapitem 2
					div.slides__mapitem 3

		div.spacer
		a.btn.btn--center
			div.btn__text Se flere


	section.container.container--partial
		div.container__content
			div.container__inner
				h1.container__headline.container__headline--closer Services
				div.cluster.cluster--autoHeight.cluster--mobileline2
					div.cluster__list
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.bubble__icon--seo.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											div.query--desktop.query--tablet
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div.spacer
				a.btn.btn--center
					div.btn__text Læs mere om os

	section.container.container--partial.container--almostwhite
		div.container__content
			div.container__inner
				h1.container__headline Nördede facts
				div.cluster.cluster--autoHeight.cluster--line4
					div.cluster__list
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--glasses
									div.fact__main 16
									div.fact__sub Nörder
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--unicorn
									div.fact__main 1
									div.fact__sub Enhjørning
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--cup
									div.fact__main 9686
									div.fact__sub Kopper kaffe drukket
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--www
									div.fact__main 43
									div.fact__sub Skærm
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--thumb
									div.fact__main 9693
									div.fact__sub Lanceringer
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--code
									div.fact__main 453156
									div.fact__sub Linjers kode skrevet
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--flag
									div.fact__main 38
									div.fact__sub I gennemsnitsalder
						div.cluster__item
							div.cluster__inner
								div.fact
									div.fact__icon.fact__icon--baby
									div.fact__main 1999
									div.fact__sub Startede Nörd op
				div.spacer.spacer--big
				a.btn.btn--center
					div.btn__text Læs mere om os



	section.container.container--partial
		div.container__content
			div.container__inner
				h1.container__headline Udvalgte nörderier
				div.cluster.cluster--autoHeight
					div.cluster__list
						- for(var i=0;i<6;i++)
							div.cluster__item
								div.cluster__inner
									a.card.card--link
										div.card__image
											img(src="http://placehold.it/400x195")
										div.card__body
											div.rte
												h2 Headline
												p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div.spacer
				a.btn.btn--center
					div.btn__text Se flere


	section.container.container--partial
		div.container__content
			div.container__inner
				div.rte.rte--layout2
					h1 Vi er et full-service digitalt bureau med base i Aarhus og København
					p Vi er født i 1999, men læner os hellere frem end tilbage. Derfor siger vi, at vi er 'født på ny hver dag'. Det er et udtryk for, at vi er ivrige for at holde os skarpe, fornyende & velorienterede. Der skabes konstant nye muligheder på den digitale spilleplade, og vi trækker i den digitale arbejdstrøje, fordi vi er passionerede, har evnerne og lysten til at dyrke feltet. Vi stiller store krav til vores egen formåen og ved, at der skal arbejdes hårdt for at kunne tænke, rådgive og producere på det niveau, som vi stræber efter.
					p Vi hviler altså ikke på laurbærrene, men trækker erfaringen med ind i dagligdagen. Vi drives frem af forelskelse & fascination for den energi der ligger i interaktionen mellem menneske og maskine. Det bliver dog aldrig teknologi for teknologiens skyld, når vi hjælper nye og eksisterende kunder ud over båndbredderne.


	section.container.container--quote
		div.container__content
			div.container__inner
				div.rte.rte--layout3
					h1 Nørd er et slangudtryk for en person med en stor interesse for et enkelt eller flere emner. Typisk er der tale om interesseområder, der af mange anses for noget underligt noget
					p Wikipedia


	section.container.container--wall
		div.container__content
			div.container__inner
				h1.container__headline Kunder
				div.wall
					- for(var i=0;i<44;i++)
						- var sizes = ['30x40', '70x40', '60x30', '50x20', '40x60', '50x55'];
						- var randomInt = Math.floor(Math.random()*6);
						div.wall__item
							img(src="http://placehold.it/#{sizes[randomInt]}")



	section.container.container--quote
		div.container__content
			div.container__inner
				div.rte.rte--layout3
					h1 Er der en nörd gemt i dig?
					p Vi er altid på udkig efter nye talenter i vores digitale guerillahær, så grib røret eller send os en mail på
						a &nbspkontakt@noerd.dk


	section.container.container--partial
		div.container__content
			div.container__inner
				h1.container__headline Nörder
				div.cluster.cluster--autoHeight.cluster--line4.cluster--mobileline2
					div.cluster__list
						- for(var i=0;i<8;i++)
							div.cluster__item
								div.cluster__inner
									div.card
										div.card__image
											div.bubble.bubble--innershadow
												div.bubble__icon
													img(src="http://placehold.it/300x300")
										div.card__body
											div.rte
												h2 Name Name
												p Übergeek
												a(href="#") Send email


	section.container.container--superpadding.theme.container--black
		div.container__content
			div.container__inner

				div.split
					div.split__left
						div Christiansgade 30
						div 8000 Aarhus C
						div Tlf: (+45) 86 13 68 13
					div.split__right
						div.inlinelist.inlinelist--iconlist.inlinelist--alignleft
							div.inlinelist__item
								div.bubble.bubble--grey.bubble--link
									div.bubble__icon
										span.icon--facebook
							div.inlinelist__item
								div.bubble.bubble--grey.bubble--link
									div.bubble__icon
										span.icon--twitter
							div.inlinelist__item
								div.bubble.bubble--grey.bubble--link
									div.bubble__icon
										span.icon--googleplus