extends ../master

block append head

block append body

block append content

	section.container.container--fitscreen
		//div.container__header Header
		div.container__bg(style="background-image:url('http://placehold.it/1200x700')")
		div.splash
			div.splash__box
				//div.fontsize--iota.lineheight--kappa Vi er et full service digitalt bureau
				//div.fontsize--gamma Med kærlghed til mennesker og maskiner
				div.splash__bigline Vi er et full service digitalt bureau
				div.splash__smallline Med kærlghed til mennesker og maskiner
		div.container__content
			div.container__inner
		div.attachment SCROLL NED


	section.container.container--fitscreen
		//div.container__header Header2
		div.container__bg(style="background-image:url('http://placehold.it/1200x700')")
		div.container__content
			div.container__inner
				div intro2

	section.container.container--partial
		div.container__content
			div.container__inner
				h1.container__headline.container__headline--closer Services
				div.cluster.cluster--autoHeight
					div.cluster__list
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card.card--link
									div.card__image
										div.card__bubblehandler
											div.bubble
												div.bubble__icon.card__bubblelink
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a.btn Læs mere om os

	section.container.container--partial
		div.container__content
			div.container__inner
				h1.container__headline Udvalgte nörderier
				div.cluster
					div.cluster__list
						div.cluster__item
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.cluster__item
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body
										div.rte
											h2 Headline
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				a.btn Læs ældre

	section.container.container--superpadding.theme.theme--black
		div.container__content
			div.container__inner
				div intro