extends ../master

block append head

block append body

block append content

	section.container.container--fitscreen
		div.container__header
		div.container__bg(style="background-image:url('http://placehold.it/1200x700')")
		div.container__content
			div.container__inner
				div intro

	section.container
		div.container__content
			div.container__inner
				div index