extends ../master

block append head

block append body

block append content

	section.container.container--fitscreen
		div.container__header
		div.container__bg(style="background-image:url('http://placehold.it/1200x700')")
		div.container__content
			div.container__inner
				div intro

	section.container.container--partial
		div.container__content
			div.container__inner
				div.cluster
					div.cluster__list
						div.cluster__item.cluster__item--2x1
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
						div.cluster__item.cluster__item--1x2
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
						div.cluster__item.cluster__item--2x2
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
						div.cluster__item
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
						div.cluster__item
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
						div.cluster__item.cluster__item--2x1
							div.cluster__inner
								a.card
									div.card__image
										img(src="http://placehold.it/400x195")
									div.card__body Content
				a.btn Læs ældre